<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>artdashik</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    </head>

    <body>
        <!-- Header -->
         <header>
            <nav>
                <!-- Logo-->
                <div class = "logo">
                    <img src = "../static/src/logo.png" alt = "artdashik" width = "100%" height="100%">
                </div>

                <!-- Menu -->
                <input id = "menu-toggle" type="checkbox" />
                <label class="menu-button-container" for="menu-toggle">
                    <div class="menu-button"></div>
                </label>
                <ul class="menu">
                    <li><a href = "#products">Товары</a></li>
                    <li><a href = "#cart">Корзина</a></li>
                    <li><a href = "#calculations">Расчёты</a></li>
                 </ul>
            </nav>
         </header>

         <!-- Products -->
        <section id = "products">
            <div class = "section_title">
                Товары
            </div>

            <!-- Products grid -->
            <div class = "product_grid">
                <!-- Card 1 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 2 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 3 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 4 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 5 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 6 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 7 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 8 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 9 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

                <!-- Card 10 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "#" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "product_title">
                        Свеча в стакане
                    </div>
                    <!-- Description -->
                    <div class = "product_description">
                        Малиновый пирог
                    </div>
                    <!-- Price -->
                    <div class = "product_price">
                        700 рублей
                    </div>
                </div>

            </div>
        </section>

        <!-- Cart -->


        <!-- Calculations -->


        <!-- Footer -->
        <footer>
            <button class = "button_tg">
                <li><a class="tg" href="https://t.me/daria_podtsiuk">Telegram</a></li>
            </button>
        </footer>
    </body>