<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>artdashik</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    </head>

    <body>
        <!-- Header -->
        <header>
            <nav>
                <!-- Logo-->
                <div class = "logo">
                    <img src = "../static/src/logo.png" alt = "artdashik" width = "100%" height="100%" onclick="location.href = '/'">
                </div>

                <!-- Menu -->
                <input id = "menu_toggle" type="checkbox" />
                <label class="menu_button_container" for="menu_toggle">
                    <div class="menu_button"></div>
                </label>
                <ul class="menu">
                    <li><a href = "/products">Товары</a></li>
                    <li><a href = "/cart">Корзина</a></li>
                    <li><a href = "/calculations">Расчёты</a></li>
                 </ul>
            </nav>
        </header>

        <!-- Product details -->
        <section id = "product_details">
            <div class = "section_header">
                <button id = "button_back" onclick="location.href = '/'">
                    <img src = "../static/src/back.png" width="100%" height="100%">
                </button>
                <div class = "section_title">Подробнее о товаре</div>
            </div>
            
            <div class = "details">
                <!-- Image -->
                <img src = "{{ image }}" class="details_image">

                <!-- Description -->
                <div class = "description">
                    <div class = "name">
                        <div id = "name_value">{{ name }}</div>
                    </div>
                    <div class = "aroma">
                        Аромат:&nbsp;
                        <div id = "aroma_value">{{ aroma }}</div>
                    </div>
                    <div class = "weight">
                        Объём:&nbsp;
                        <div id = "weight_value">{{ weight }} гр</div>
                    </div>
                    <div class = "ID">
                        Артикул:&nbsp;
                        <div id = "ID_value">{{ id }}</div>
                    </div>
                    <div class = "selling_price">
                        Стоимость:&nbsp;
                        <div id = "selling_price_value">{{ selling_price }} рублей</div>
                    </div>

                <!-- Add to cart button -->
                <button id = "button_add_to_cart">Добавить в корзину</button>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <button class = "button_tg">
                <div class = "tg_image">
                    <img src = "../static/src/tg.png" width="100%" height="100%">
                </div>
                <li><a class="tg" href="https://t.me/daria_podtsiuk">Telegram</a></li>
            </button>
            <div class = "footer_text">Санкт-Петербург</div>
        </footer>
        <script src="../static/js/page_details.js"></script>
    </body>