<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>artdashik</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    </head>

    <body>
        <!-- Header -->
        <header>
            <nav>
                <!-- Logo-->
                <div class = "logo">
                    <img src = "../static/src/logo.png" alt = "artdashik" width = "100%" height="100%" onclick="location.href = '/'">
                </div>

                <!-- Menu -->
                <input id = "menu_toggle" type="checkbox" />
                <label class="menu_button_container" for="menu_toggle">
                    <div class="menu_button"></div>
                </label>
                <ul class="menu">
                    <li><a href = "/">Товары</a></li>
                    <li><a href = "/cart">Корзина</a></li>
                    <li><a href = "/calculations">Расчёты</a></li>
                 </ul>
            </nav>
        </header>

        <!-- Calculations -->
        <section id = "calculations">
            <div class = "section_header">
                <button id = "button_back">
                    <img src = "../static/src/back.png" width="100%" height="100%">
                </button>
                <div class = "section_title">Расчёты</div>
            </div>

            <div class = "grid">
                <!-- Product cost -->
                <div class="calcs">
                    <div class="title_calcs">Себестоимость товара</div>
                    <div class="buttons_for_calcs">
                        <input class="input_calcs" type = "text" id = "IDInput" placeholder = "Введите артикул">
                        <button class="button_calcs" onclick = "get_calculation()">Показать себестоимость</button>
                    </div>

                    <table id="table_costs">
                        <tr>
                            <th>Артикул</th>
                            <th style = "display: none;">Стоимость</th>
                            <th>Стоимость материалов</th>
                            <th>Логистика</th>
                            <th>Упаковка</th>
                            <th>Маркировка</th>
                        </tr>
                        <tr>
                            <td id="product_id"></td>
                            <td style = "display: none;" id="selling_price"></td>
                            <td id="material_cost"></td>
                            <td id="logistics_cost"></td>
                            <td id="packaging_cost"></td>
                            <td id="labeling_cost"></td>
                        </tr>
                    </table>
                </div>

                <!-- Financial Model -->
                <div class="calcs">
                    <div class="title_calcs">Финансовая модель</div>
                    <div class="buttons_for_calcs">
                        <input class="input_calcs" type = "text" id = "AmountInput" placeholder = "Введите количество">
                        <button class="button_calcs" onclick = "finModel()">Посчитать</button>
                    </div>

                    <!-- Income -->
                    <div class = "results">
                        Выручка:&nbsp;
                        <div id = "result_income">функция</div>
                    </div>

                    <!-- Costs -->
                    <div class = "results">
                        Расходы:&nbsp;
                        <div id = "result_income">функция</div>
                    </div>

                    <!-- Net Income -->
                    <div class = "results">
                        Прибыль:&nbsp;
                        <div id = "result_income">функция</div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <button class = "button_tg">
                <div class = "tg_image">
                    <img src = "../static/src/tg.png" width="100%" height="100%">
                </div>
                <li><a class="tg" href="https://t.me/daria_podtsiuk">Telegram</a></li>
            </button>
            <div class = "footer_text">Санкт-Петербург</div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- <script src="../static/js/page_calculations.js"></script> -->
        <script src="../static/js/get_calculations.js"></script>
        
    </body>