<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>artdashik</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    </head>

    <body>
        <!-- Header -->
        <header>
            <nav>
                <!-- Logo-->
                <div class = "logo">
                    <img src = "../static/src/logo.png" alt = "artdashik" width = "100%" height="100%" onclick="location.href = '/'">
                </div>

                <!-- Menu -->
                <input id = "menu_toggle" type="checkbox" />
                <label class="menu_button_container" for="menu_toggle">
                    <div class="menu_button"></div>
                </label>
                <ul class="menu">
                    <li><a href = "/">Товары</a></li>
                    <li><a href = "/cart">Корзина</a></li>
                    <li><a href = "/calculations">Расчёты</a></li>
                 </ul>
            </nav>
        </header>

        <!-- Cart -->
        <section id = "cart">
            <div class = "section_title">Корзина</div>

            <!-- Cart grid -->
            <div class = "cart_grid" id = "cart_items">
                <!-- Cart item 1 -->
                <div class = "cart_item">
                    <!-- Cart item info -->
                    <div class = "item_info">
                        <div class = "item_name">
                            <div id = "name_value">,&nbsp;</div>
                            <div id = "aroma_value"></div>
                        </div>
                        <div class = "ID">
                            Артикул:&nbsp;
                            <div id = "ID_value"></div>
                        </div>
                    </div>

                    <!-- Cart item price and delete -->
                    <div class = "price_delete">
                        <div class = "selling_price">
                            Стоимость:&nbsp;
                            <div id = "selling_price_value">&nbsp;рублей</div>
                        </div>
                        <button class = "button_delete">
                            <img src = "../static/src/delete.png" width="100%" height="100%">
                        </button>
                    </div>
                </div>
                    
                <!-- Buy Button -->
                <div class = "buy">    
                    <button class = "button_buy">Оформить заказ</button>
                </div>

        </section>

        <!-- Footer -->
        <footer>
            <button class = "button_tg">
                <div class = "tg_image">
                    <img src = "../static/src/tg.png" width="100%" height="100%">
                </div>
                <li><a class="tg" href="https://t.me/daria_podtsiuk">Telegram</a></li>
            </button>
            <div class = "footer_text">Санкт-Петербург</div>
        </footer>
    </body>