<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>artdashik</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    </head>

    <body>
        <!-- Header -->
        <header>
            <nav>
                <!-- Logo-->
                <div class = "logo">
                    <img src = "../static/src/logo.png" alt = "artdashik" width = "100%" height="100%" onclick="location.href = '/'">
                </div>

                <!-- Menu -->
                <input id = "menu_toggle" type="checkbox" />
                <label class="menu_button_container" for="menu_toggle">
                    <div class="menu_button"></div>
                </label>
                <ul class="menu">
                    <li><a href = "#products">Товары</a></li>
                    <li><a href = "/cart">Корзина</a></li>
                    <li><a href = "/calculations">Расчёты</a></li>
                 </ul>
            </nav>
        </header>

        <!-- Products -->
        <section id = "products">
            <div class = "section_title">Товары</div>

            <!-- Products grid -->
            <div class = "product_grid" id="product_cards">
                <!-- Card 1 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/1.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Шоколад</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 2 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/2.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Синнабон</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 3 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/3.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Солёная карамель</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 4 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/4.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Мороженое</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 5 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/5.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Печенье</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 6 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/6.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Мармеладные мишки</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 7 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/7.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Персик</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 8 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/8.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Клубника</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 9 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/9.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Пончики</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

                <!-- Card 10 -->
                <div class = "product_card">
                    <!-- Image -->
                    <div class = "product_image">
                        <img src = "../static/src/10.jpg" alt="Свеча десерт" width="100%" height="100%">
                    </div>
                    <!-- Title -->
                    <div class = "name">Свеча в стакане</div>
                    <!-- Description -->
                    <div class = "aroma">Малиновый сорбет</div>
                    <!-- Price -->
                    <div class = "selling_price">700 рублей</div>
                </div>

            </div>
        </section>

        <!-- Footer -->
        <footer>
            <button class = "button_tg">
                <div class = "tg_image">
                    <img src = "../static/src/tg.png" width="100%" height="100%">
                </div>
                <li><a class="tg" href="https://t.me/daria_podtsiuk">Telegram</a></li>
            </button>
            <div class = "footer_text">Санкт-Петербург</div>
        </footer>
        <script src="../static/js/page_products.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </body>
</html>