body {
    margin: 0;
    padding: 20px;
    background-color: #D9C3B0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #BF2A2A;
    color: #F2F2F2;
    padding: 25px 50px;
    border-radius: 40px;
}

.logo {
    color: #F2F2F2;
    text-decoration: none;
    font-weight: medium;
    height: 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    cursor: pointer;
}

.menu a {
    color: #F2F2F2;
    text-decoration: none;
    font-weight: medium;
    font-size: 1.2rem;
    display: block;
    transition: color 0.2s ease;
}

.menu a:hover {
    color: #D9C3B0;
    font-weight: bold;
}

.menu_button_container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu_toggle {
    display: none;
}
  
.menu_button,
.menu_button::before,
.menu_button::after {
    display: block;
    background-color: #F2F2F2;
    position: absolute;
    height: 2px;
    width: 25px;
    border-radius: 30px;
}
  
.menu_button::before {
    content: '';
    margin-top: -8px;
}
  
.menu_button::after {
    content: '';
    margin-top: 8px;
}

#menu_toggle:checked + .menu_button_container .menu_button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu_toggle:checked + .menu_button_container .menu_button {
    background: #F2F2F2;
}

@media (max-width: 700px) {
    .menu_button_container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu_toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }

    #menu_toggle:checked ~ .menu li {
        border: 1px solid #BF2A2A;
        height: 2.5em;
        padding: 0.5em;
    }

    .menu > li {
        display: flex;
        justify-content: center;
        width: 100%;
        color: #F2F2F2;
        background-color: #BF2A2A;
    }

    .menu a {
        padding: 10px 15px;
    }
}

.button_tg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #D9C3B0;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);   
}

.button_tg:hover {
    transform: translateY(-3px);
}

.button_tg > li {
    list-style-type: none;
}

.button_tg a {
    text-decoration: none;
    color: #BF2A2A;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tg_image {
    height: 20px;
    margin-right: 10px;
}

.footer_text {
    color: #D9C3B0;
    font-size: 1rem;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #BF2A2A;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 25px 50px;
    border-radius: 40px;
}

.section {
    padding: 25px;
}

.section_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

#button_back {
    border: none;
    height: 30px;
    background-color: #D9C3B0;
    cursor: pointer;
}

.section_title {
    color: #BF2A2A;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 25px 20px;
}

.products {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.product_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product_card {
    background: #F2F2F2;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
    transition: transform 0.1s;
    cursor: pointer;
}

.product_card:hover {
    transform: translateY(-3px);
}

.product_image {
    margin-bottom: 15px;
}

.product_image > img {
    border-radius: 20px;
}

.product_card .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    color: #1E1E1E;
}

.product_card .selling_price {
    color: #BF2A2A;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.product_card .aroma {
    color: #1E1E1E;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 25px 50px;
}

.details_image {
    max-width: 40%;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
    transition: transform 0.1s;
    cursor: pointer;
    margin-right: 50px;
}

#product_details .name {
    margin: 20px 30px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #1E1E1E;
}

#product_details .aroma, #product_details .weight, #product_details .ID {
    margin: 10px 30px;
    font-size: 1.2rem;
    color: #1E1E1E;
}

#product_details .selling_price {
    margin: 10px 30px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #BF2A2A;
}

#product_details .aroma, #product_details .weight, #product_details .ID, #product_details .selling_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.button_add_to_cart {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    justify-content: center;
    background-color: #BF2A2A;
    color: #F2F2F2;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
    margin: 10px 0px;
}

.cart_grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.cart_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
    border-radius: 40px;
    padding: 20px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
    transition: transform 0.1s;
    margin: 0px 50px 20px 50px;
}

.item_name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #1E1E1E;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0px;
}

#cart .ID {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #1E1E1E;
    font-size: 1rem;
    margin: 5px 0px;
}

.price_delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#cart .selling_price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #BF2A2A;
}

#button_delete {
    border: none;
    height: 30px;
    background-color: #F2F2F2;
    cursor: pointer;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 50px 5px 50px;
}

#button_buy {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    justify-content: center;
    background-color: #BF2A2A;
    color: #F2F2F2;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
}

#calculations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.costs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 750px;
}

.title_costs {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #1E1E1E;
    margin-top: 10px;
    margin-bottom: 5px;
}

#table_costs {
    border-collapse: separate;
    border-spacing: 0;
    margin: 10px;
    font-size: 1rem;
}

  
th, td {
    text-align: center;
    border: 1px solid #BF2A2A;
    border-style: none solid solid none;
    padding: 10px;
}

th {
    font-weight: bold;
}

tr:first-child th:first-child { border-top-left-radius: 20px; }
tr:first-child th:last-child { border-top-right-radius: 20px; }
  
tr:last-child td:first-child { border-bottom-left-radius: 20px; }
tr:last-child td:last-child { border-bottom-right-radius: 20px; }
  
tr:first-child th { border-top-style: solid; }
tr th:first-child, tr td:first-child { border-left-style: solid; }

.input_costs {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    background-color: #F2F2F2;
    color: #1E1E1E;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
    margin: 10px 5px;
}

.button_costs {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    justify-content: center;
    background-color: #BF2A2A;
    color: #F2F2F2;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
    margin: 10px 5px;
}